[submodule "lecnet"]
	path = lecnet
	url = https://github.com/alecmus/lecnet
[submodule "cui"]
	path = cui
	url = https://github.com/alecmus/cui
[submodule "lecui"]
	path = lecui
	url = https://github.com/alecmus/lecui
